footer {
    background-color: var(--primary);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recrute{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.3rem;
    margin: 50px;
    height: 120px;
}

.recrute__left,
.recrute__right {
    border: 3px solid white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.recrute__left > hr  {
    width: 150px;
    padding-top: 1px;
    margin: 5px 0;
    background-color: white;
    border: none;
}

.recrute__right{
    background-color: white;
    color: black;
}

.footer-container2,
.footer-container3 {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.1rem;
    padding: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.logo-footer {
    color: white;
    padding: 0px 40px;
}

.footer-container4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5rem;
    margin: 50px 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 730px) {
    
    .footer-container2, .footer-container3 {
        width: 100%;
    }
}

@media screen and (max-width: 430px) {
  
    .footer-container2,
    .footer-container3 {
        flex-direction: column;
    }
}