
.skull-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: var(--primary) ;
}

.skull-box {
    display: flex;
    width: 100%;
    justify-content: center;
    filter: drop-shadow(2px 44px 36px black);
}

.neo {
    margin: 150px 20px 0 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cadetblue;
    font-size: 5rem;
    /* text-shadow: -8px -8px 12px rgba(255, 255, 255, 0.4), 8px 8px 12px rgba(0, 0, 0, 0.8); */
}

.skull-left,
.skull-right {
    width: 200px;
    
}

.skull-box:hover {
    width: 100%;
    justify-content: center;
}

.text-appear-box {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px;
    text-align: center;
    width: 80%;
    animation: closehead;
    animation-duration: 2s;
}

.text-appear-box h3 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.subscribe-button {
    width: 200px;
    padding: 10px 20px;
    margin: 40px;
    cursor: pointer;
}

.skull-box:hover .text-appear-box {
    display: flex;
    animation: openhead;
    animation-duration: 2.2s;
}

@keyframes openhead {
    0% {
        opacity: 0;
        width: 0%;
    }

    70% {
        opacity: 0.5;
        width: 100%;
    }

    100% {
        opacity: 1;
    }
}

@keyframes closehead {
    0% {
        opacity: 1;
        width: 100%;
    }

    100% {
        opacity: 0;
        width: 0%;
    }
}