@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    margin: 50px;
    box-shadow: 0px 0px 30px lightgray;
    border-radius: 20px;
}

.stats__title {
    font-size: 3rem;
    color: cadetblue;
    filter: drop-shadow(3px 3px 10px lightgray);
}

.stats__subtitle {
    font-size: 1.5rem;
}

/* STAT BOX */

.statistics-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px 0 40px 0;
}

.stat-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 220px;
    padding: 20px;
    margin: 0 20px;
    transition-duration: 200ms;
}

.stat-box:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 10px 10px lightgray;
}

.stat-box__up > span {
    font-family: fantasy;
    filter: drop-shadow(1px 5px 0px lightgray);
    color: var(--primary);
}

.stat-box__up {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.stat-box__up > p {
    font-size: 3rem;
    margin-left: 10px;
    color: var(--primary);
}

.stat-box__down {
    width: 150px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-box__down > p {
    font-family: 'PT Sans', sans-serif;
}

/* LINE */

.stat-box-line {
    height: 3px;
    background-color: var(--primary);
    width: 80%;
    border: none;
    margin: 10px 0;
}


/* BUTTON */

.stats__button {
    padding: 15px 20px;
    font-family: 'Cinzel';
    font-size: 1.2rem;
    background-color: white;
    border: 2px solid var(--primary);
    cursor: pointer;
    box-shadow: 0px 10px 10px lightgray;
    transition-duration: 200ms;
}

.stats__button:hover {
    box-shadow: none;
}


